.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: $header-height-sm;
  background-color: $body-bg;
  transition: all 0.25s ease;
  .has-sub & {padding-top: $header-height-sm; }
  .mini & { padding-top: $header-height-min; }
  .mini.has-sub & {padding-top: $header-height-min; }
  @media (min-width: $screen-sm) {
    padding-top: $header-height;
    .has-sub & {padding-top: $header-height; }
    .mini & {padding-top: $header-height-min; }
    .mini.has-sub & {padding-top: $header-height-min; }
  }
  @media (min-width: $grid-float-breakpoint) {
    padding-top: $header-height;
    .has-sub & {padding-top: $header-height + $navbar-sub-height; }
    .mini & { padding-top: $header-height-min; }
    .mini.has-sub & {padding-top: $header-height-min + $navbar-sub-height; }
  }
  .show-nav & {
    opacity: 0.6;
  }
}

.content {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}