.flex_block {
  padding: 2.22em 0 ($grid-gutter-width / 2);
}

// Benefits
.benefits_block {
  background: $brand-primary-light;
  color: $gray-base;
}

// Solutions
.cases_block {
  .cases__row {
    margin-top: $grid-gutter-width;
  }
}