// Cases
.cases__case {
  @include block-touch-overlay('.touch_effect', lighten($brand-primary, 10%), $white, $brand-secondary, 0.8, 40px, 80px, 60px, 70px, 110px, 90px);
}

.single-case {
  .case__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    min-height: 80px;
    overflow: hidden;
    transition: all .25s ease;
    @include background-opacity($brand-secondary, 0.8);
    .entry-content {
      height: 100%;
      padding: 10px $grid-gutter-width / 2;
      color: $gray-base;
      a {color: $gray-base; }
      h1 {
        margin-bottom: 0.25em;
        font-weight: 400;
      }
      .solutions {
        margin: 0;
        font-size: $font-size-small;
        text-transform: capitalize;
        a {
          color: $gray;
          &:hover,
          &:focus {
            color: $white;
          }
        }
      }
    }
  }
}