.banner {
  background: $brand-primary;
  .search {
    padding-right: 0;
    padding-left: 0;
    .navbar-nav {width: 100%; }
    @media (min-width: $screen-lg) {
      padding-left: $grid-gutter-width / 2;
    }
  }
  .service {
    padding-left: 0;
    .sub-nav {
      float: left;
    }
  }
  @media (max-width: 480px) {
    .search {width: 0; }
    .service {width: 100%; }
  }
}