.main {
  .entry-content {
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      display: inline-block;
      margin-top: 0.5em;
    }
    .content_more {
      margin-top: 1em;
      display: none;
    }
    .split_more_link {
      margin: 1em 0;
      .read-more {
        cursor:pointer;
        color: $white;
        text-decoration: underline;
        &:hover,
        &:focus {
          color: $brand-secondary;
          text-decoration: none;
        }
        &:after {
          @include fa-icon();
          content: $fa-var-angle-down;
          padding-left: 0.4em;
        }
        &.less {
          &:after {
            content: $fa-var-angle-up;
          }
        }
      }
    }
    &.no-sidebar {
      .columns {
        @media (min-width: $screen-sm-min) {
          column-count: 2;
          column-gap: $grid-gutter-width;
        }
      }  
    }
  }
}