.products__product {
  margin-bottom: $grid-gutter-width;
  background: $white;
  .product__image {
    @include intrinsic-pad-ratio(4, 3, '.stretch', 768, 4, 3, $white, $brand-primary);
    .stretch.loading {
      .fa {font-size: 1em; }
    }
  }
  .product__info {        
    .entry-content {
      padding: 10px $grid-gutter-width / 2;
      font-size: $font-size-small;
      color: $gray;
    }
  }
}