.sidebar {
  // Page Image
  .sidebar__image {
    margin-top: $font-size-h1 * 1.5;
    .caption {
      margin: 0.5em 0 0 0;
      font-size: $font-size-small;
      font-style: italic;
    }
  }
  // Solution Products
  .sidebar__products {}
  .data-sheet {
    .fa {margin-right: 0.25em; } 
  }
}