// Steps
.steps__row {
  margin-top: $grid-gutter-width;
}

.steps__step {
  @include block-touch-overlay('.touch_effect', lighten($brand-primary, 10%), $white, $white, 1, 50px, 60px, 50px, 100%, 100%, 50%);
  .touch_effect {
    .overlay__content {
      .index {font-weight: 700; }
      .desc {
        margin: 1em 0 0;
        padding-left: 1em;
        font-size: $font-size-small;
      }
    }
  }
}