<h1 class="light">{{banner.acf_banner_title}}</h1>
{% if banner.acf_banner_link %}<a href="{{banner.acf_banner_link}}" target="_blank">{% endif %}
  <img src="{{TimberImage(banner.acf_banner_image).src|resize(360) }}" />
{% if banner.acf_banner_link %}</a>{% endif %}
<p class="caption">{{TimberImage(banner.acf_banner_image).caption}}</p>