{% extends "base.twig" %}

{% block main %}
  <div class="row">
    <div class="entry-content col-xs-12{% if post.get_field('acf_banner') %} col-sm-8{% else %} col-sm-12{% endif %}">
      {% block content %}
        <h1>{{post.title}}</h1>
        {{ split_content }}
      {% endblock %}
    </div>
    {% if post.get_field('acf_banner') %}
      <aside class="banner col-xs-12 col-sm-4">
        {% block banner %}
          {% for banner in post.get_field('acf_banner') %}
            {% if banner.acf_fc_layout == 'acf_image_banner' %}
              {% include 'banner_image.twig' %}
            {% endif %}
          {% endfor %}
        {% endblock %}
      </aside>
    {% endif %}
  </div>
{% endblock %}