{% extends "base.twig" %}

{% block main %}
  <article class="post-type-{{post.post_type}} row">
    <section class="entry-content col-xs-12{% if sidebar_img %} col-sm-8{% else %} col-sm-12 no-sidebar{% endif %}">
      {% block content %}
        <h1>{{post.title}}</h1>
        <div class="columns">{{post.content}}</div>
      {% endblock %}
    </section>
    {% if sidebar_img %}
      <aside class="sidebar col-xs-12 col-sm-4">
        {% block sidebar %}
          {% include 'sidebar-image.twig' %}
        {% endblock %}
      </aside>
    {% endif %}
  </article>
{% endblock %}