{% if products %}
  <div class="sidebar__products">
    <h1 class="light">{{ __('Products', 'soluforce') }}</h1>
    {% for product in products %}
      {% set grid_sizes = [ [['', 360, 0, '', 768], ['', 738, 0, '']], 360, 0, '' ] %}
      {% include 'loop-product.twig' %} 
    {% endfor %}
  </div>
{% endif %}