<div class="sidebar__image">
  {% set image = TimberImage(sidebar_img).src %}
  {{ function('create_resp_picture', 1, ['stretch'], true, [ 
    [image|resize(360), image|resize(720), 768], 
    [image|resize(738), image|resize(1476)] ], image|resize(360), TimberImage(sidebar_img).alt) }}
  {% if TimberImage(sidebar_img).caption %}  
    <p class="caption">{{TimberImage(sidebar_img).caption}}</p>
  {% endif %}
</div>  