{% extends "base.twig" %}

{% block main %}
  {% block content %}
    <h1>{{post.title}}</h1>
    <div class="columns">{{post.content}}</div>
  {% endblock %} 
  {% if solution_cases %}
    {% block cases %}
      <h2>{{ __('Cases', 'soluforce') }}</h2>
      <div class="cases__row row">
        {% for case in solution_cases %}
          {% set grid_sizes = [ [['col-xs-12', 750, 562, 'center']], 750, 562, 'center' ] %}
          {% include 'loop-case.twig' %}
        {% endfor %}
      </div>
    {% endblock %}  
  {% endif %}
  {% include 'share-bar.twig' %}
{% endblock %}