{% extends "base.twig" %}

{% block main %}
  {% block content %}
    <h1>{{post.title}}</h1>
    <div class="columns">{{post.content}}</div>
  {% endblock %} 
  {% if steps %}
    {% block steps %}
      <h2>{{ __('%s in %s steps', 'soluforce') | format(post.title, steps|length) }}</h2>
      <div class="steps__row row">
        {% for step in steps %}
          {% set grid_sizes = [ [['col-sm-6', 360, 270, 'center', 768], ['col-xs-12', 750, 562, 'center']], 360, 270, 'center' ] %}
          {% include 'loop-step.twig' %}
        {% endfor %}
      </div>
    {% endblock %}  
  {% endif %}
  {% include 'share-bar.twig' %}
{% endblock %}