{% extends "base.twig" %}

{% block main %}
  <section class="entry-content">
    {% block content %}
      <h1>{{post.title}}</h1>
      <div class="columns">{{post.content}}</div>
    {% endblock %}
  </section>
  {% if products %}
    <section class="products__row row">
      {% block products %}
        {% for product in products %}
          {% set grid_sizes = [ [['col-sm-4', 360, 0, 'center', 768], ['col-xs-12', 738, 0, 'center']], 360, 0, 'center' ] %}
          {% include 'loop-product.twig' %}
        {% endfor %}
      {% endblock %}
    </section>
  {% endif %}  
{% endblock %}