// Sticky Footer
html {height: 100%; }
body {
	:not(.wp-editor-container) & {
    height: 100%;
  }
}

// Typo
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  &.light {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    letter-spacing: 0.05em;
  }
}

p {
  margin: 0 0 1.25em;
}


// Lists
ul,
ol {
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1em;
}

// Blockquote
blockquote {
  border-left: none;
  @include background-opacity($brand-primary-light, 0.4);
  font-size: 1em;
  margin: 0 0 1em;
  padding: 10px ($grid-gutter-width / 2);
}

// Images
img,
figure,
picture {
  @include img-responsive();
}


// Links
a {
  &:hover,
  &:focus,
  &.focus {
    outline: none;
  } 
}

// Selections
::selection {background:$brand-secondary; color:$brand-primary; text-shadow:none; }