// Glyphicons font path
$icon-font-path:                  "../fonts/";

//== Grid settings
$main-sm-columns:                 12;
$sidebar-sm-columns:              4;


//== Header settings
$header-height:                   125px;
$header-height-sm:                110px;
$header-height-min:               85px;


//== Colors
$gray-base:                       #000;
$gray-darker:                     lighten($gray-base, 13.5%); // #222
$gray-dark:                       lighten($gray-base, 20%);   // #333
$gray:                            lighten($gray-base, 40%); // #666
$gray-light:                      lighten($gray-base, 46.7%); // #777
$gray-lighter:                    lighten($gray-base, 93.5%); // #eee
$white:                           #FFF;

$brand-primary:                   #336699;
$brand-primary-light:             #E0E8F0;
$brand-primary-dark:              #1A334D;
$brand-secondary:                 #FFF00C;
$brand-light:                     #3388FF;
$brand-classic:                   #55EE00;
$brand-heavy:                     #EE0011;

$brand-success:                   #5cb85c;
$brand-info:                      #5bc0de;
$brand-warning:                   #f0ad4e;
$brand-danger:                    #d9534f;


//== Scaffolding
$body-bg:                         $brand-primary;
$text-color:                      $white;
$link-color:                      $brand-secondary;
$link-hover-color:                darken($link-color, 15%);
$link-hover-decoration:           none;


//== Typography
$font-family-sans-serif:          "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-light:    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:                $font-family-sans-serif;

$font-size-base:                  16px;
$font-size-large:                 ceil(($font-size-base * 1.5)); // ~24px
$font-size-small:                 ceil(($font-size-base * 0.875)); // ~14px

$font-size-h1:                    floor(($font-size-base * 2)); // ~32px
$font-size-h2:                    floor(($font-size-base * 1.5)); // ~24px
$font-size-h3:                    ceil(($font-size-base * 1.31)); // ~21px
$font-size-h4:                    ceil(($font-size-base * 1.125)); // ~18px
$font-size-h5:                    $font-size-base;
$font-size-h6:                    ceil(($font-size-base * 0.85)); // ~12px

$line-height-base:                1.428571429; // 20/14
$line-height-computed:            floor(($font-size-base * $line-height-base)); // ~20px

$headings-font-weight:            700;

//== Components
$padding-base-vertical:           6px;
$padding-base-horizontal:         12px;

$border-radius-base:              0;
$border-radius-large:             0;
$border-radius-small:             0;


//== Buttons
$btn-font-weight:                 normal;

$btn-default-color:               $brand-primary;
$btn-default-bg:                  $white;
$btn-default-border:              $white;

$btn-primary-border:              $brand-primary;
$btn-success-border:              $brand-success;
$btn-info-border:                 $brand-info;
$btn-warning-border:              $brand-warning;
$btn-danger-border:               $brand-danger;


//== Forms
$input-bg:                        $brand-primary-light;
$input-bg-disabled:               $gray-lighter;
$input-color:                     $gray-base;
$input-border:                    $brand-primary-light;
$input-border-focus:              $brand-secondary;
$input-color-placeholder:         $gray-light;


//== Media queries breakpoints
$screen-md:                       992px;
$screen-md-min:                   $screen-md;


//== Grid system
$grid-gutter-width:               30px;
$grid-float-breakpoint:           $screen-md-min;


//== Container sizes
$container-tablet:                100%;
$container-sm:                    $container-tablet;
$container-desktop:               100%;
$container-md:                    $container-desktop;
$container-large-desktop:         (1140px + $grid-gutter-width);
$container-lg:                    $container-large-desktop;


//== Navbar

// Basics of a navbar
$navbar-height:                    45px;
$navbar-sub-height:                40px;
$navbar-margin-bottom:             0;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-sub-padding-vertical:      (($navbar-sub-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             $white;
$navbar-default-bg:                transparent;
$navbar-default-border:            transparent;

// Navbar links
$navbar-default-link-color:                $white;
$navbar-default-link-hover-color:          $brand-primary;
$navbar-default-link-hover-bg:             $white;
$navbar-default-link-active-color:         $brand-primary;
$navbar-default-link-active-bg:            $white;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         lighten($navbar-default-brand-color, 5%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        $white;
$navbar-default-toggle-border-color:       transparent;


//== Pagination
$pagination-color:                     $brand-primary;
$pagination-bg:                        $white;
$pagination-border:                    $white;

$pagination-hover-color:               $brand-primary;
$pagination-hover-bg:                  $brand-primary-light;
$pagination-hover-border:              $brand-primary-light;

$pagination-active-color:              $white;
$pagination-active-bg:                 lighten($brand-primary, 10%);
$pagination-active-border:             lighten($brand-primary, 10%);

$pagination-disabled-color:            $brand-primary;
$pagination-disabled-bg:               $brand-primary-dark;
$pagination-disabled-border:           $brand-primary-dark;


//== Alerts
$alert-warning-bg:                    $brand-secondary;
$alert-warning-text:                  $brand-primary;
$alert-warning-border:                $brand-secondary;
