// Wrapper and base class
.navbar {
  border: none;
}

// Navbar heading
.navbar-header {
  float: none;
}

// Navbar collapse (body)
.navbar-collapse {
  padding-right: $navbar-padding-horizontal;
  padding-left:  $navbar-padding-horizontal;
  border-top: none;
  box-shadow: none;
}

// Brand/project name
.navbar-brand {
  display: block;
  float: none;
  padding: 20px 0 18px;
  line-height: 1;
  height: auto;
  transition: all 0.25s ease;
  > img {
    width: 160px;
    transition: opacity 0.25s ease;
  }
  &:hover,
  &:focus {
    outline: none;
    > img {
      opacity: 0.9;
    }
  }
  @media (min-width: $screen-sm) {
    > img {width: 225px; }
  }
  @media (min-width: $screen-md) {
    > img {width: 263px; }
  }
  .mini & {
    padding: 10px 0;
    > img {
      height: 25px;
      width: auto;
    }
  }
}

// Navbar toggle
.navbar-toggle {
  position: absolute;
  top: $navbar-sub-height;
  right: 0;
  margin: 22px ($grid-gutter-width / 2) 0 0;
  padding: 0;
  border: none;
  // Bars
  .icon-bar {
    display: block;
    width: 34px;
    height: 3px;
    border-radius: 0;
    transition: all 0.25s ease;
  }
  .icon-bar + .icon-bar {
    margin-top: 7px;
  }
  &:hover,
  &:focus {
    .icon-bar {
      background: $brand-secondary;
    }
  }
  @media (min-width: $screen-sm) {
    margin: $grid-gutter-width ($grid-gutter-width / 2) 0 0;
    .icon-bar {height: 4px; }
    .icon-bar + .icon-bar {
      margin-top: 6px;
    }
  }
  .mini & {
    top: $navbar-sub-height;
    margin: ($grid-gutter-width / 2) ($grid-gutter-width / 2) 0 0;
    .icon-bar {
      width: 34px;
      height: 2px;
    }
    .icon-bar + .icon-bar {
      margin-top: 6px;
    }
  }
}


// Navbar nav links
.navbar-nav {
  margin: 0;
}

// Default navbar
.navbar-default {
  border: none;
  .navbar-nav {
    > li > a {
      transition: all .25s ease;
    }
    &.sub-nav {
      > li {
        > a {
          padding-top:    $navbar-sub-padding-vertical;
          padding-bottom: $navbar-sub-padding-vertical;
          line-height:    $line-height-computed;
        }
      }
    }
  }
  // Top navigation
  #top-nav {
    background: $brand-primary-dark;
    background:rgba(0, 0, 0, 0.5);
    .navbar-nav {
      > li {
        float: left;
        > a {
          font-size:      $font-size-small;
          text-transform: lowercase;
          color:          $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $brand-secondary;
            background: none;
            outline: none;
          }
          i {
            font-size: 1.5em;
          }
          &.brand {
            img {
              max-height: 20px;
              width: auto;
              transition: all 0.25s ease;
            }
            &:hover,
            &:focus {
              opacity: 0.9;
            }
          }
        }
        &.active {
          > a {
            &,
            &:hover,
            &:focus {
              color: $brand-secondary;
              background: none;
            }
          }
        }
        &.disabled {
          > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-default-link-disabled-color;
              background: none;
            }
          }
        }
      }
    }  
    // WPML Default Language Switcher
    #lang_sel {
      float: right;
    }
  }
  // Main navigation
  #main-nav {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    .navbar-nav {
      padding: 35px 0 0;
      > li {
        margin-right: 5px;
        > a {
          font-size: 1.125em;
        }
        &.menu-item-has-children {
          &.active {
            > a {
              padding-bottom: $navbar-padding-vertical + 5px;
            }
          }
        }
      }
      // Minified header
      .mini & {
        padding: 0;
        > li {
          margin-right: 0;
          > a {
            font-size: 1em;
          }
          &.menu-item-has-children {
            &.active {
              > a {
                padding-bottom: $navbar-padding-vertical;
              }
            }
          }
        }  
      }
    }
    @media (max-width: $grid-float-breakpoint) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      .navbar-nav {
        padding: 0;
        > li {
          > a {
            font-size: 1em;
          }
        }
      }
    }
  }
  // Sub navigation
  #sub-nav {
    background: $white;
    .navbar-nav {
      > li {
        > a {
          color: $navbar-default-link-active-color;
          &:hover,
          &:focus {
            color: $gray-base;
            background: none;
          }
        }
        &.active {
          > a {
            &,
            &:hover,
            &:focus {
              color: $gray-base;
              background: none;
            }
          }
        }
      }
    }
    @media (max-width: $grid-float-breakpoint) {
      padding-left: 0;
      padding-right: 0;
      [class^='col-'] {
        padding-left: 0;
        padding-right: 0;
      }
      .navbar-nav {
        > li {
          > a {
            font-size: 0.8em;
            padding-top: $navbar-sub-padding-vertical * 0.8;
            padding-bottom: $navbar-sub-padding-vertical * 0.8;
            line-height: $line-height-computed * 0.8;
          }
        }
      }
    }      
  }
}